body {
    margin: 0;
    padding: 0;
    background-color: #eef2f3;
    overflow-x: hidden;
    transition: background-color 0.3s ease;
    
}


.dark-theme {
    background-color: #121212;
    color: #e0e0e0;
}


.dark-theme .profile {
    background: linear-gradient(135deg, #0d1b2a, #1b263b);
}


.dark-theme .footer-text,
.dark-theme h3 {
    color: #ffffff;
}

.dark-theme h2 {
    color: #0ba692;
}

.dark-theme .descripcion,
.dark-theme .container,
.dark-theme .habilidad {
    background: #1e1e1e;
    color: #bbbbbb;
}

.dark-theme .redes-sociales {
    background: linear-gradient(90deg, #0f4c75, #3282b8);
}

.dark-theme .Funciones,
.dark-theme .item-certificacion,
.dark-theme .item-educacion{
    background:#373737;
    color:white;
}

.dark-theme .institucion,
.dark-theme .Empresa{
    color:#f2f2f2;
}


.dark-theme .habilidad {
    background: linear-gradient(135deg, #4a4cc2, #1a403a);
    color: #ffeb99;
}

.dark-theme .habilidad:hover{
    background: linear-gradient(135deg, #388fba, #124648);

}


body, .container, .profile, .redes-sociales, .habilidad {
    transition: background-color 0.3s ease, color 0.3s ease;
}


.profile {  
    color: white;
    background: linear-gradient(135deg, #1b6a9e, #3282b8);
    justify-content: center;
    display: flex;  
    align-items: center;  
    gap: 50px;  
    margin-bottom: 0;
    flex-wrap: wrap; 
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.foto-perfil {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    border: 4px solid #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    
}


.texto-inicial {
    max-width: 500px; 
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    gap: 10px; 
}

.nombre {
    font-size: 28px;
    font-weight: bold;
    color: #fff;
}

.profesion {
    font-size: px;
    font-weight: 400;
    color: #dbeafe;
}

.info-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px 20px;
    align-items: center;
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 40px;
}

.redes-sociales {
    background: linear-gradient(135deg, #8bcfdb, #92eddb);
    width: 100%;
    position: relative;
    bottom: 1px; 
    left: 0;
    padding: 10px 0;
    margin-top: 0px; 
}

.redes-enlaces {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 0;
    margin: 0;
}

.redes-enlaces li {
    display: inline;
}

.redes-enlaces a {
    
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.redes-enlaces a:hover {
    color: #b53d0a;
}

.descripcion {
    max-width: 750px;
    font-size: 18px;
    margin: 0 auto 5px auto; 
    text-align: center;

}


.container {
    background: #ffffff; 
    border-bottom: 2px solid #0f4c75; 
    width: 100%; 
    padding: 20px;
    background-color: #ffffff;
    border-bottom: 2px solid #007BFF; 
}


h2 {
    font-size: 24px;
    color: #0f4c75; 
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
}

h3 {
    font-size: 20px;
    color: #1b262c; 
    margin-bottom: 5px;
}


.institucion, .Empresa {
    font-size: 16px;
    color: #555;
    font-style: italic;
    margin-bottom: 10px;
}


.item-educacion, .item-certificacion,.Funciones {
    padding: 15px;
    background: #e3f2fd; 
    border-left: 4px solid #0f4c75; 
    margin-bottom: 15px;
    color:#555;
}


ul {
    padding: 0;
    list-style: none;
}

ul li {
    font-size: 16px;
    margin-bottom: 5px;
}


p {
    font-size: 16px;
    color: #333;
    line-height: 1.5;
}


@media (max-width: 768px) {
    .container {
        padding: 15px;
    }

    h2 {
        font-size: 22px;
    }

    h3 {
        font-size: 18px;
    }

    p, ul li {
        font-size: 14px;
    }
}

footer {
   
    background: linear-gradient(135deg, #1b6a9e, #3282b8);
    color: #fac1bb;
    padding: 2px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
}

.footer-text{
    color:white;
}

.habilidades-grid {
    
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 15px;
    justify-content: center;
    padding: 20px;
}

.habilidad-cuadro {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
}


.habilidad {
    color: #ffeb99;
    background: linear-gradient(135deg, #5b8ce1, #6ac8df);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.habilidad span {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.circular-progress {
    position: relative;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background: conic-gradient(#0f7558 0deg, #ededed 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.4s ease-in-out;
}

.circular-progress::before {
    content: "";
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #fff;
}

.progress-value {
    position: relative;
    font-size: 20px;
    font-weight: bold;
    color: #0f4c75;
}

.barra {
    width: 100%;
    background: #cfd8dc; 
    border-radius: 5px;
    overflow: hidden;
}

.progreso {
    height: 10px;
    width: 0%;
    background: linear-gradient(90deg, #0f4c75, #3282b8);
    transition: width 1.5s ease-in-out;
}

.btn-theme-toggle{
    position: absolute;
    top: 30px;
    right: 20px;
    background: #0000b1;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9em;
    transition: background-color 0.3s;

}

.scroll-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background: #1a7ae0;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 34px;
    cursor: pointer;
    display: none;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    transition: opacity 0.3s;
}

.scroll-top:hover {
    background: #0056b3;
}

.scroll-top.show {
    display: block; 
}

.habilidad:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.7s ease, box-shadow 0.3s ease;
    background: linear-gradient(135deg, #659cfb, #71d7f1);
}


